
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage Worker

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>

        <li class="active">Worker</li>
    </ol>
</section>
<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#fa-icons" id="addworker" data-toggle="tab"><span id="spantext"></span></a></li>
                    <li><a href="#glyphicons" data-toggle="tab">Worker List</a></li>
                </ul>
                <div class="tab-content">
                    <!-- Font Awesome Icons -->
                    <div class="tab-pane active" id="fa-icons">

                        <!-- Horizontal Form -->
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" id="workerform">
                            <div class="box-body">
                               <input type="hidden" id="hdnworkerid" value="0" />
                                <div class="form-group">
                                    <label for="txtfirstname" class="col-sm-2 control-label">First Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="txtfirstname" name="txtfirstname" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtmiddle" class="col-sm-2 control-label">Middle Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="txtmiddle" name="txtmiddle" placeholder="Middle Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtlastname" class="col-sm-2 control-label">Last Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="txtlastname" name="txtlastname" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="txtfathername" class="col-sm-2 control-label">Father Name</label>
                                      <div class="col-sm-10">
                                                <input type="text" class="form-control" id="txtfathername" name="txtfathername" placeholder="Father Name">
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtusername" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="txtusername" name="txtusername" placeholder="Email/User Name">
                                    </div>
                                </div>
                             
                                <div class="form-group">
                                    <label for="txtworkermobile" class="col-sm-2 control-label">Mobile</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="txtworkermobile" name="txtworkermobile" placeholder="Mobile">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtparmaent" class="col-sm-2 control-label">Parmanent Address</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" id="txtparmaent" name="txtparmaent" placeholder="Parmanent Address"></textarea>
                                    </div>
                                </div><br />
                                <input type="checkbox" id="sameaddress" /> Same as Current address 
                                <div class="form-group">
                                    <label for="txtcurrentaddress" class="col-sm-2 control-label">Current Address</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" id="txtcurrentaddress" name="txtcurrentaddress" placeholder="Current Address"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ddlGender" class="col-sm-2 control-label">Gender</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="ddlGender" name="ddlGender">
                                            <option value="">Select Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ddlstate" class="col-sm-2 control-label">State</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="ddlstate" name="ddlstate">
                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ddlcity" class="col-sm-2 control-label">City</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="ddlcity" name="ddlcity">
                                           
                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDesignation" class="col-sm-2 control-label">ID Proof</label>
                                    <div class="col-sm-10">
                                        <input type="file" id="idproof" name="idproof" class="form-control">
                                        (Adhar card,Voter ID card,any valid govt document)
                                    </div>
                                </div>
                                

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right" style="margin-left:10px">Submit</button>

                                <button type="submit" class="btn btn-info pull-right">Cancel</button>

                            </div>
                            <!-- /.box-footer -->
                        </form>
                        <!-- /.box -->


                    </div>
                    <!-- /#fa-icons -->
                    <!-- glyphicons-->
                    <div class="table-responsive tab-pane" id="glyphicons">
                        <table id="tblcompanyworker" class="display wrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Worker Name</th>
                                    <th>Father Name</th>
                                    <th>Email </th>
                                    <th>Mobile</th>
                                    <th>Parmanent Address</th>
                                    <th>Current Address</th>
                                    <th>Gender</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>ID Proof</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <!-- /#ion-icons -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<script src="~/JS/Worker/Worker.js"></script>